<footer class="fixed-bottom bg-dark text-center text-white">
    <div class="container-fluid padding">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center p-3">
                    Copyright © 2022 Theo P. All rights reserved.<br>
                </div>
            </div>
        </div>
    </div>
</footer>